*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg, #1a2638, #0e2b48, #131b2a, #561b0f, #382527, #1b0907);
    padding: 10px;
    margin: 0;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .5s;
}
.todo-app__title{
    color: #ff5945;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.todo-app__add-button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #070160;
    color: #ff5945;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-left: 70%;
}
.todo-app__add-button:hover{
    background:#6f6ab5 ;
    color: #fff;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #b0aeae;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background: #ff5945;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

footer{
    bottom: 0;
    margin-top: 19%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-weight: 600;
    font-size: 17px;
    color: white;
    background: #001117;
}


@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}




@media (max-width: 768px){
    .container .todo-app{
        padding: 20px 15px 35px;
        max-width: 100%;
        margin: 50px auto 10px; 
    }
    .container .todo-app__add-button{
        padding: 12px 30px;
        font-size: 14px;
    }
    ul li{
        font-size: 15px;
        padding: 10px 5px 10px 40px;
    }
    ul li span{
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    footer{
        margin-top: 60vh;
    }
}